In [1]:
import pandas as pd
import numpy as np
from prophet import Prophet

In [2]:
b = pd.read_csv('biomass.csv')

In [3]:
b = b[['Index','year','biomass']].copy()

In [4]:
b

       Index  year    biomass
0          0  2010   8.475744
1          0  2011   8.868568
2          0  2012   9.202181
3          0  2013   6.023070
4          0  2014  10.788374
...      ...   ...        ...
19339   2417  2013   0.209801
19340   2417  2014   0.229067
19341   2417  2015   0.230417
19342   2417  2016   0.274289
19343   2417  2017   0.226953

[19344 rows x 3 columns]

In [5]:
biomass = b[b['Index'] == 0]

In [9]:
biomass.rename(columns={'year':'ds','biomass':'y'},inplace=True)
#biomass['ds']=pd.to_datetime(biomass['ds'],format=%y%m%d)
biomass=biomass[['ds','y']].copy()

C:\Users\ROG\AppData\Local\Temp\ipykernel_19552\2792766788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biomass.rename(columns={'year':'ds','biomass':'y'},inplace=True)

In [11]:
pd.to_datetime(biomass['ds'])
biomass['ds']

0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
6    2016
7    2017
Name: ds, dtype: int64