In [1]:
import pandas as pd
import numpy as np
from prophet import Prophet

In [2]:
b = pd.read_csv('biomass.csv')

In [3]:
b = b[['Index','year','biomass']].copy()

In [4]:
b

       Index  year    biomass
0          0  2010   8.475744
1          0  2011   8.868568
2          0  2012   9.202181
3          0  2013   6.023070
4          0  2014  10.788374
...      ...   ...        ...
19339   2417  2013   0.209801
19340   2417  2014   0.229067
19341   2417  2015   0.230417
19342   2417  2016   0.274289
19343   2417  2017   0.226953

[19344 rows x 3 columns]

In [6]:
biomass = b[b['Index'] == 0]

In [9]:
biomass.rename(columns={'year':'ds','biomass':'y'},inplace=True)
biomass['ds']=pd.to_datetime(biomass['ds'])
biomass=biomass[['ds','y']].copy()

In [10]:
biomass

                             ds          y
0 1970-01-01 00:00:00.000002010   8.475744
1 1970-01-01 00:00:00.000002011   8.868568
2 1970-01-01 00:00:00.000002012   9.202181
3 1970-01-01 00:00:00.000002013   6.023070
4 1970-01-01 00:00:00.000002014  10.788374
5 1970-01-01 00:00:00.000002015   6.647325
6 1970-01-01 00:00:00.000002016   7.387925
7 1970-01-01 00:00:00.000002017   5.180296